<div class="container">
    <div class="kpx_social">
        <br>
        <div class="row kpx_row-sm-offset-3 kpx_socialButtons">
            <div class="col">
                <a href="https://medium.com/@fbellod" target="_blank" class="btn btn-lg btn-block kpx_btn-medium" data-toggle="tooltip" data-placement="top" title="Medium">
                    <span>M</span>
                    <span class="hidden-xs"></span>
                </a>
            </div>
            <div class="col">
                <a href="https://github.com/fbellod1986" target="_blank" class="btn btn-lg btn-block kpx_btn-github" data-toggle="tooltip" data-placement="top" title="GitHub">
                    <i class="fa fa-github fa-2x"></i>
                    <span class="hidden-xs"></span>
                </a>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/in/franco-bello/" target="_blank" class="btn btn-lg btn-block kpx_btn-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                    <i class="fa fa-linkedin fa-2x"></i>
                    <span class="hidden-xs"></span>
                </a>
            </div>
            <div class="col">
                <a href="https://www.facebook.com/franco.i.diaz" target="_blank" class="btn btn-lg btn-block kpx_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                    <i class="fa fa-facebook fa-2x"></i>
                    <span class="hidden-xs"></span>
                </a>
            </div>
        </div>
    </div>